*.iml
.gradle/
.kotlin/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.jks
*.keystore
*.log

.env
.env.*
!.env.example
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
